<h1 class="cover-heading">Vota por el mejor cocinero</h1>
<% if @voto.present? %>
  <h2>Has votado por <b><%= @voto.cocinero.nombre %></b>
  </h2>
  <p class="lead"><%= @voto.cocinero.nombre%></p>

<% else %>



  <div class="row">

      <div class="col-lg-12">
          <p class="lead">Estas son las opciones.</p>
      </div>

      <% @cocineros.each do |cocinero| %>
      <div class="col-lg-4 col-md-6 col-xs-12 thumb">

          <%= link_to("voto/"+cocinero.id.to_s, method: "post") do %>
            <p><%=
            extension=cocinero.foto_url.downcase
            if extension.end_with?("mov") or extension.end_with?("mp4")
              video_tag(cocinero.foto_url, size: "200x150", :autoplay => true, :loop => true, :muted => true)
            else
              image_tag(cocinero.foto_url, size: "200x150")
            end
             %></p>
            <p class="lead"><%= cocinero.nombre%></p>
          <% end %>
      </div>
      <%end %>
  </div>
<%end %>
