<h2>We need to know who you are in order to vote</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="form-group">
   <label>Email address</label>
   <%= f.email_field :email, autofocus: true, :class=>"form-control" %>
 </div>
 <div class="form-group">
   <label>Password</label>
   <%= f.password_field :password, :class=>"form-control" %>
 </div>
 <div class="checkbox">
   <label>
     <%= f.check_box :remember_me %> Recordar
   </label>
 </div>
 <%= f.submit "Login", :class=>"btn btn-default"%>

<% end %>

<%= render "devise/shared/links" %>
