<% if votos.to_i!=0 %>
<p class="lead">These are the results with <%= votos %> votes with a total of <%= users %> users (<%= votos*100/users %> % voter turnout) </p>

<table class="table table-bordered">
  <tr><td><b>Chef</b></td><td><b>Votes</b></td><td><b>Percentage</b></td></tr>

  <% res.sort_by{|key, value| value}.reverse.each do |key, value| %>
    <tr><td><%= key %></td><td><%= value %></td><td><%= value*100/votos %>%</td></tr>

  <%end %>
</table>
<% else %>
<p class="lead">Oops. Nobody has voted yet </p>

<% end %>
